:root {
  --text-dark-color: #334047;
  --text-light-color: #73737d;
  --border-color: #d2d2d2;
  --product-border-color: #e8e8e9;
  --product-blue-color: #d5e6f9;
  --product-grey-color: #d2d5dd;
  --product-navy-color: #333b68;
  --product-pink-color: #d6a4a5;
  --product-black-color: #000;
  --product-white-color: #f9f9f9;
  --product-red-color: #c72626;
  --product-purple-color: #c7bfd2;
  --product-green-color: #d3e5dd;
  --product-beige-color: #ede0d0;
  --product-button-color: #da291c;

}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-2 {
  width: 50%;
}
