:root {
--text-dark-color:#334047;
--text-light-color:#73737d;
--border-color: #d2d2d2;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a{
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-2{
    width: 50%;
}