.product-wrapper {
  display: flex;
  padding: 20px 0 200px;
  justify-content: space-between;
}

.product-img {
  width: 48%;
  display: flex;
  height: 100%;
}

.main-img {
  flex: 1;
  margin-right: 14px;
  height: 100%;
  position: relative;
}

.main-img button {
  position: absolute;
  padding: 14px;
  color: #888;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  cursor: pointer;
}

.main-img button:active {
  background-color: #fff;
  color: #000;
}

.img-left-btn {
  top: 50%;
  left: 5%;
}

.img-right-btn {
  top: 50%;
  right: 5%;
}

.img-list {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.nav-img {
  width: 14%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}

.nav-img img {
  object-fit: cover;
  height: 17%;
}

.nav-img img.active {
  border: 2px solid #666;
  padding: 4px;
}

.nav-img-item:hover {
  cursor: pointer;
}

.product-info {
  width: 42%;
  color: var(--text-dark-color);
  font-size: 16px;
}

.product-info img {
  height: auto;
}

.product-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 16px;
}

.product-price {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 16px;
  color: rgb(223, 0, 0);
}

.product-color {
}

.product-color__text {
  padding: 12px 0;
}

.product-color__list {
  display: flex;
}

.product-size {
}

.product-size__text {
  padding: 12px 0;
}

.product-size__text span,
.product-color__text span {
  font-weight: 500;
  color: var(--text-dark-color);
  font-size: 18px;
}

.product-size__list {
  display: flex;
  padding-bottom: 16px;
}

.product-size__item {
  padding: 6px;
  font-weight: 500;
  border: 1px solid #999;
  width: 42px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 2px;
}

.product-size__item:hover {
  cursor: pointer;
}

.product-size__item:active {
  background-color: #dcdcdc;
}

.add-product {
  background-color: var(--product-button-color);
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

.add-product:active {
  background-color: rgb(212, 83, 83);
}

.product-delail {
  padding: 14px 0;
}

.product-delail::before {
  content: "";
  width: 100%;
  height: 1px;
  border-top: 1px solid #666;
  top: 0;
  display: flex;
}

.product-delail__title {
  padding: 16px 0;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.product-delail__desc {
  line-height: 24px;
  display: none;
}

.product-delail__desc.display {
  display: block;
}

.toast {
  position: fixed;
  top: 1%;
  right: 0;
  background-color: #fff;
  width: 360px;
  height: 80px;
  color: var(--text-dark-color);
  border-radius: 5px;
  overflow: hidden;
  z-index: 99;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  opacity: 0;
  animation: slideIn 0.5s forwards, fadeOut 0.5s forwards 3s;
  display: flex;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* @keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
} */

.toast::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  border: 3px solid var(--text-dark-color);
}

.toast-text {
  padding-left: 16px;
}

.toast-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-dark-color);
  padding-top: 12px;
}

.toast-product {
  display: flex;
  padding: 12px 0 12px;
  align-items: center;
}

.toast-img {
  padding-right: 12px;
  height: 100%;
  width: 40px;
}

.toast-img img {
  object-fit: cover;
}

.toast-desc {
  font-size: 13px;
}

.toast-desc span {
  font-weight: 600;
}

.toast-icon {
  font-size: 20px;
  padding: 12px;
}

.toast-icon:active {
  color: #999;
}

.toast-btn {
  padding: 6px 12px;
  border: 1px solid var(--product-button-color);
  border-radius: 3px;
  font-size: 16px;
  color: var(--product-button-color);
  cursor: pointer;
  margin-left: 24px;
}

.toast-btn:active {
  background-color: var(--product-button-color);
  color: #fff;
}

.cart__box {
  display: flex;
  flex-direction: column;
}
.cart-product__list {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  flex: 1;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  border-bottom: 1px solid #999;
}

.cart-product:first-child {
  border-top: 1px solid #999;
}

.cart-product__img {
  width: 48px;
  border: 1px solid #999;
}

.cart-product__img img {
  object-fit: cover;
}

.cart-product__info {
  flex: 1;
  padding-left: 14px;
  font-size: 14px;
}

.cart-product__title {
}

.cart-product__price {
  color: rgb(223, 1, 1);
}

.cart-product__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-product__close-btn {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(227, 39, 39);
}

.cart-product__close-btn:active {
  color: #999;
}

.cart-product__quantity-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.cart-product__quantity-btn span {
  padding: 0 12px;
}

.cart-product__quantity-btn button {
  border: none;
  font-size: 18px;
  width: 24px;
  aspect-ratio: 1;
  cursor: pointer;
}

.cart-product__quantity-btn button:active {
  background-color: #dcdcdc;
}

.cart-pay {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--product-button-color);
}

.cart-price {
  font-size: 16px;
  padding-left: 20px;
  font-weight: 500;
}

.cart-price span {
  font-weight: 600;
  font-size: 18px;
  color: var(--product-button-color);
}

.cart-pay-btn {
  padding: 10px 50px;
  border: 1px solid var(--product-button-color);
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  color: var(--product-button-color);
  cursor: pointer;
  margin-right: 12px;
}

.cart-pay-btn:active {
  background-color: var(--product-button-color);
  color: #fff;
}

.confirm-pay-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  z-index: 98;
  display: none;
}

.confirm-pay-wrapper.active{
  display: block;
}

.confirm-pay-box {
  position: absolute;
  z-index: 99;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 18px;
  font-size: 16px;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.confirm-title {
  display: flex;
  justify-content: space-between;
  color: var(--text-dark-color);
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
  font-weight: 600;
}

.confirm-title div{
  flex: 1;
  display: flex;
  justify-content: center;
}

.confirm-title span {
  font-size: 18px;
  font-weight: 600;
}

.confirm-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
  line-height: 28px;
}

.confirm-info span{
  font-weight: 600;
  color: var(--product-button-color);
}

.confirm-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 12px;
}

.confirm-close, .confirm-pay {
  padding: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  width: 40%;
  cursor: pointer;
}

.confirm-close{
  border: 1px solid #dcdcdc;
  color: var(--text-light-color);
}

.confirm-close:active{
  border: 1px solid #333;
  color: #333;
}

.confirm-pay {
  border: 1px solid var(--product-button-color);
  font-size: 16px;
  color: var(--product-button-color);
  cursor: pointer;
  margin-left: 24px;
  display: none;
}

.confirm-pay.active{
  display: flex;
}

.confirm-pay:active {
  background-color: var(--product-button-color);
  color: #fff;
}

.pay-success{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}